*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}
body{
    background-color: #F7F7F8;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap:3rem;
    background-color: #F7F7F8;
    
}
.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 100vh;
    margin: auto;
    gap: 3rem;
    
    
}
.container_principal{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 400px;
   
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
    
}
.menu{
    
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3rem;
    gap:2rem;
    
    display: flex;
    justify-content: top;
    
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;

    transform: translateX(0%);
    transition: transform 0.5s;

    font-weight: bolder;
    font-size: large;
    text-transform: uppercase;
}

.menu_show{
    transform: translateX(100%);
    
}
.text_principal{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.img_polo{
    width: auto;

}
.img_polo_principal{
    background-color: #E94959;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    justify-self: flex-end;
    padding: 0.5rem;
    margin-left: 100px;
    width: 300px;
    height: 430px;
    
}
.subtitle{
   color: #656464; 
}
.price_title{
    margin-top: 0.6rem;
    color: #E94959;
    font-weight: bolder;
    font-size: larger;
}

.buttons_principal{
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.Discover{
    color:black;
    border: none;
    padding: 1rem 1.5rem;
    margin-top: 0.5rem;
    font-weight: bold;
    background-color: #A1A1A1;
}
.add{
    color: white;
    padding: 1.2rem 2.2rem;
    background-color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: none;
    margin-top: 5px;
   
}
.mid_text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.mid_text h2{
font-weight: lighter;
font-size:large;
}
.mid_text p{
    color: #656464; 
    font-size: 13px;
    font-weight: 550;
}
.text_3, .text_2, .text_1, .text_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    
    
}
.text_3, .text_2, .text_1{
border-right: 1px solid #A1A1A1;
}
.img_products{
    background-color: #E6E6E6;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0.5rem;
    
}
.img_size{
    width: 150px;
}
.clothes_products{
    width: 200px;
    min-height: 240px;

}
.Hoodies_products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 400px;
    gap:1rem;
}
.products_data{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
   
}
.boton_plus{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0.2rem 1rem rgba(0,0,0,0.15);
    border: none;
    background-color: white;
    font-weight: lighter;
    font-size: xx-large;
    position: absolute;
    top: -25px;
    right: 15px;
    }
.products_data h2{
    font-weight:600;
    font-size: 18px ;
}
.products_data h3{
    font-size:12px;
    font-weight: 500;
}
span {
    font-size: 13px;
    font-weight: lighter;
    
    
}


footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: hsl(0deg 0% 90%);
    padding: 1rem;
    padding-top: 8rem;
}
.text_footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
footer h2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.social{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.img_social{
    display: flex;
    gap:2rem;
}
.social img{
    height: 15px;
    width: 15px;
}


.logo_store{
    display: flex;
   height: 50px;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   
   
}
.logo{
    width: 30px;
    height: 30px;
    margin-bottom: 9px;

}
.img_logo{
fill: #E94959;
margin-top:1px;
display: flex;
justify-content: center;
text-align: center;
align-items: center;

}
.logo_store p{
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
}
a{
    text-decoration: none;
    color: inherit;
}

.navbar{
   
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 30px;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    
    
    
}
.icons_nav{
display: flex;
justify-content: space-between;
width: 92px;

}
.shop_cart img{
    width:auto ;
}
.rights{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    color: #656464;

    
}
.hr{
margin: 1rem;
background-color: white;
border: none;
height: 1px;
}
.rights span{
    font-size: 8px;
    font-weight: lighter;
    
}

.icon_x{
display: none;
}
html{
    scroll-behavior: smooth;
}
.home, .products{
    color:  #E94959;
}
.color{
    color: black;
}

.icon_x{
position: fixed;
display: block;
top: 25px;
right: -90%;
width: 100%;
height: 100%;
transform: translateX(0%);
transition: transform 0.5s;
}
.icon_show{
    transform: translateX(100%);
}

/* .load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E94959;
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .load svg {
    fill: white;
    width: 100px;
    animation: scroll 1.5s infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  } */
 .img_products:hover .img_size {
    transform: translateY(-.25rem);
  }
  
  

